$color-primary: #55c57a;
$color-primaryLight: #7ed56f;
$color-primaryDark: #28b485;

$color-secondaryLight: #ffb900;
$color-secondaryDark: #ff7730;

$color-tertiaryLight: #2998ff;
$color-tertiaryDark: #5643fa;

$color-greyLight1: #f7f7f7;
$color-greyLight2: #eee;
$color-greyDark: #777777;
$color-greyDark2: #999;
$color-greyDark3: #333;

$color-white: #ffffff;
$color-black: #000000;

$color-gridCol: orangered;

$defaultFontSize: 1.6rem;

$maxGridWidth: 114rem;
$gutterVertical: 8rem;
$gutterHorizontal: 6rem;

$marginShiftTop: -20vh;